<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=l, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    login page
    <div>Email:{email},Password{password}</div>
    <form action="./login" method="post">
    <label for="email">E-mail: <input type="text" name="email" ></label>
    <label for="password">Password: <input type="password" name="password"></label>
    <label for="submit"><input type="submit" value="sign up"> </label>
    </form>
</body>
</html>