<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="VotingApp" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8" />
    <meta content="IE-edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewpoint" content="width=device-width,initial-scale=1,maxinum-scale=1" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <title>Voting service app</title>
    <!--[if lt IE9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="VotingAppController">
    <div class="container-fluid">
        <h1>Votes</h1>
        <div>
            Add new voting item
            <input id="txtAdd" type="text" class="form-control" placeholder="Enter a new voting item" ng-model="item" />
            <button id="btnAdd" class="btn btn-primary" ng-click="add(item)">Add vote</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>voting item</td>
                    <td>count</td>
                    <td><button id="btnRefresh" class="btn btn-primary" ng-click="refresh()">Refresh</button></td>
                </tr>
            </thead>
            <tr ng-repeat="vote in votes">
                <td><button class="btn btn-primary" ng-click="add(vote.Key)">{{vote.Key}}</button></td>
                <td>{{vote.value}}</td>
                <td><button class="btn btn-default" ng-click="remove(vote.Key)">Remove</button></td>
            </tr>
        </table>
    </div>
    <!-- 3rd party libraries -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>

    <!--application main script-->
    <script>
        var app = angular.module("VotingApp", ["ui.bootstrap"]);
        app.run(function () { });
        app.controller("VotingAppController", [
            '$rootScope', '$scope', '$http', '$timeout', function ($rootScope, $scope, $http, $timeout) {
                $scope.refresh = function () {
                    $http.get('../api/votes')
                        .success(function (data, status) {
                            $scope.votes = data;
                        })
                        .error(function (data, status) {
                            $scope.votes = undefined;
                        });
                };
                $scope.remove = function (item) {
                    $http.delete('../api/' + item)
                    .success(function (data, status) {
                        $scope.refresh();
                    });
                };
                $scope.add = function (item) {
                    var fd = new FormData();
                    fd.append('item', item);
                    $http.post('../api/' + item, fd, {
                        transformrequest: angular.identity,
                        headers: { 'Content-Type': undefined }
                    })
                    .success(function (data, status) {
                        $scope.refresh();
                        $scope.item = undefined;
                    });
                };
            }
        ]);
    </script>
</body>
</html>